<a href="https://colab.research.google.com/github/dhanashreedani/Bizmetric/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
name = ''' Hi How are you? Starterd learning python. It's really interesting.'''
print(name[:])
print(name[-10:-5])
print(name[3:12])
print(name[12:3])
print(name[5:6])
print(name[-4:-12])
print(name[::2])
print(name[::-2])

 Hi How are you? Starterd learning python. It's really interesting.
teres
 How are

o

 iHwaeyu tredlann yhn tsral neetn.
.nteen larst nhy nnaldert uyeawHi

In [6]:
L1 = ["a" , "b", 20, 30, "t", 100, 300, 400, "Happy", "major"]
print(L1)
print(L1[:])
print(L1[::3])
print(L1[::-2])

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
['a', 30, 300, 'major']
['major', 400, 100, 30, 'b']

In [7]:
#How to extract  value “Happy” based on index and negative index
print(L1[8])
print(L1[-2])

Happy
Happy

In [8]:
#How to check type of data in list at 4th position
type(L1[4])

str

In [9]:
#Extract values for 100, 300, 400
L1 [5:8]

[100, 300, 400]

In [10]:
l2 =[1,2,3,5,["a", "b", "work hard"],100 , 200, "Success"]
l2

[1, 2, 3, 5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [11]:
print(l2[4])
print(l2[1:5])
print(l2[7])
print(l2[7][2])
print(l2[7][2:])
print(l2[:3])
print(l2[3:])

[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [12]:
#From the above l2 value ‘b’ must be changed to ‘BEE’.
l2[4][1] = "bee"
l2

[1, 2, 3, 5, ['a', 'bee', 'work hard'], 100, 200, 'Success']

In [13]:
#From l2 “BEE” has to discard.
l2[4].remove("bee")

In [14]:
#In l2 add a dictionary at the end {‘insect’: [‘bee’, ‘moth’] , ‘bird’ : [‘parrot’, ‘sparrow’]}
l2.append({'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']})
l2

[1,
 2,
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [15]:
#From l2 extract insect information.
l2[8]['insect']

['bee', 'moth']

In [16]:
#Create a dictionary d1 = {‘a’:10, ‘b’:20, ‘c’ : 30} and add the d1 at 2nd position of l2
d1 = {'a':10, 'b':20, 'c' : 30}
l2[2] =d1
l2

[1,
 2,
 {'a': 10, 'b': 20, 'c': 30},
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [17]:
#Based on new l2 created here extract the value 10 from l2 dictionary
l2[2]['a']

10

In [6]:
#If l2 =[1,2,3,5, (90,40,50,10), ‘Python’, 400 ,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”, (200,300, “Hundreds”)] then what is the output of following
L2 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, "Success", (200,300, "Hundreds")]
L2

[1,
 2,
 3,
 5,
 (90, 40, 50, 10),
 'Python',
 400,
 ['a', 'b', 'work hard'],
 100,
 200,
 'Success',
 (200, 300, 'Hundreds')]

In [7]:
print(L2[4][2])
print(L2[5][:])
print(L2[2][:])
print(L2[1:5])
print(L2[5])
print(L2[5][3:-1])
print(L2[-1])
print(L2[-4:-3])
print(L2[-4:-10])
print(L2[7][2])
print(L2[-7][2:])
print(L2[:-3])
print(L2[-3:])

50
Python

TypeError: 'int' object is not subscriptable

In [28]:
# ask user enter marks and make grps like distinction, first class, second class, pass and fail
# above 80 = distinction
# above 70 = first class
# above 50 = second class
# above 35 = pass
# else fail

percentage = input(" enter percentage : ")

if (not percentage.isalnum() and not percentage.isalpha()) or percentage.isdigit():
  percentage = int(percentage)
  if percentage > 100 or percentage < 0:
    print("enter proper marks")
  elif percentage > 80:
    print("distinction")
  elif percentage > 70 and percentage <= 80:
    print("First class")
  elif percentage > 50 and percentage <= 70:
    print("Second class")
  elif percentage > 35 and percentage <= 50:
    print("pass")
  else:
    print("fail")
else:
  print("not proper format")

 enter percentage : 50
pass

In [ ]:
salary = int(input("Enter annual salary (in INR): "))
rating = input("Enter rating (A/B/C/D): ").upper()

increment = 0

if salary <= 5_00_000:
    if rating == 'A':
        increment = 0.16
    elif rating == 'B':
        increment = 0.12
    elif rating == 'C':
        increment = 0.10
    elif rating == 'D':
        increment = 0.06

elif salary <= 10_00_000:
    if rating == 'A':
        increment = 0.14
    elif rating == 'B':
        increment = 0.10
    elif rating == 'C':
        increment = 0.08
    elif rating == 'D':
        increment = 0.06

elif salary <= 15_00_000:
    if rating == 'A':
        increment = 0.08
    elif rating == 'B':
        increment = 0.06
    elif rating == 'C':
        increment = 0.04
    elif rating == 'D':
        increment = 0

elif salary <= 23_00_000:
    if rating == 'A':
        increment = 0.07
    elif rating == 'B':
        increment = 0.05
    elif rating == 'C':
        increment = 0.04
    elif rating == 'D':
        increment = 0

else:
    output = "No increment policy for this salary range."

increment_amount = salary * increment
new_salary = salary + increment_amount

#print("Increment Amount:", increment_amount)
print("New Salary:", new_salary)

In [ ]:
L1 = ["HR", "Finance", "Marketing", "DS"]

subject = input("Enter subject (HR/Finance/Marketing/DS): ")
analytics = input("Do you want analytics? (Y/N): ").upper()
hostel = input("Do you want hostel? (Y/N): ").upper()
food_months = int(input("Enter number of food months: "))
transport = input("Transportation (Semester/Annual): ").lower()

total_cost = 0


course_fee = 200000

if subject != "DS" and analytics == "Y":
    analytics_fee = course_fee * 0.10
else:
    analytics_fee = 0

if hostel == "Y":
    hostel_fee = 200000
else:
    hostel_fee = 0

food_fee = food_months * 2000

if transport == "semester":
    transport_fee = 13000 * 2
else:
    transport_fee = 13000 * 2   # annual = 2 semesters

total_cost = course_fee + analytics_fee + hostel_fee + food_fee + transport_fee

print("Course Fee:", course_fee)
print("Analytics Fee:", analytics_fee)
print("Hostel Fee:", hostel_fee)
print("Food Fee:", food_fee)
print("Transportation Fee:", transport_fee)
print("Total Annual Cost:", total_cost)

In [29]:
#Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add l1
l1 = [10, 20]
l3 = [1, 2, 3, 4, 5, 6, 7]

l3.insert(3, l1)
l3

[1, 2, 3, [10, 20], 4, 5, 6, 7]

In [30]:
#Create a comprehensive list for square upto 10
squares = [i*i for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#Create the comprehensive list to find number divisible by 13 till 200
div_by_13 = [i for i in range(1, 201) if i % 13 == 0]
print(div_by_13)

In [ ]:
#Create the list which is divisible by 4 from 300 to 400
div_by_4 = [i for i in range(300, 401) if i % 4 == 0]
print(div_by_4)

In [ ]:
#How to create empty set?
s = set()
type(s)

In [ ]:
#Create the set s1 and s2 and perform set operations like union, intersection, difference, set difference.
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
print("Union:", s1 | s2)
print("Intersection:", s1 & s2)
print("Difference:", s1 - s2)
print("Symmetric Difference:", s1 ^ s2)

In [ ]:
#Create l2 as a list and perform set operation on s1 with l1
l2 = [3, 4, 7, 8]
l2_set = set(l2)

print("Union:", s1 | l2_set)
print("Intersection:", s1 & l2_set)
print("Difference:", s1 - l2_set)

In [32]:
#Ask user to enter the name and DOB and generate the password based on first name 4 characters and @ddmm.
#For example name = SURESH and DOB = 05-05-1978 then password will be SURE@0505
name = input("Enter your name: ")
dob = input("Enter your DOB (dd-mm-yyyy): ")

first_part = name[:4].upper()

day, month, year = dob.split("-")

password = first_part + "@" + day + month

print("Generated Password:", password)

Enter your name: shreya
Enter your DOB (dd-mm-yyyy): 26-12-2001
Generated Password: SHRE@2612

In [33]:
#Ask user to enter the name and DOB and generate the password based on first name 4 characters and last 4 digits of DOB or year @yyyy.
#For example name = SURESH and DOB = 05-05-1978 then password will be SURE@1978
name = input("Enter your name: ")
dob = input("Enter your DOB (dd-mm-yyyy): ")

first_part = name[:4].upper()

year = dob[-4:]

password = first_part + "@" + year

print("Generated Password:", password)

Enter your name: shreya
Enter your DOB (dd-mm-yyyy): 26-11-2001
Generated Password: SHRE@2001

In [34]:
for i in range(1, 5):
    print("* " * i)

*
* *
* * *
* * * *

In [35]:
for i in range(4, 0, -1):
    print("* " * i)

* * * *
* * *
* *
*

In [36]:
str_val = "ABCD"
for i in range(1, len(str_val) + 1):
    print(" ".join(str_val[:i]))

A
A B
A B C
A B C D

In [37]:
str_val = "ABCD"

for i in range(len(str_val)):
    print(str_val[i] * (i + 1))

A
BB
CCC
DDDD

In [38]:
for i in range(1, 5):
    print(str(i) * i)

1
22
333
4444

In [39]:
val = "ABCD"
rev = val[::-1]
for i in range(1, len(rev) + 1):
    print(rev[:i])

D
DC
DCB
DCBA

In [21]:
s = input("Enter the string: ")
rev = s[::-1]
for i in range(1, len(rev) + 1):
    print(rev[:i])

Enter the string: shreya
a
ay
aye
ayer
ayerh
ayerhs

In [40]:
#33.	Create a list of odd numbers from 1 to 10
#1.	Using for loop
odd_list = []
for i in range(1, 11):
    if i % 2 != 0:
        odd_list.append(i)
print(odd_list)

[1, 3, 5, 7, 9]

In [23]:
#2.	Using comprehensive list
odd_list = [i for i in range(1, 11) if i % 2 != 0]
print(odd_list)

[1, 3, 5, 7, 9]

In [ ]:
#Create even number list using for loop from 200 to 250
even_numbers = []
for i in range(200, 251):
    if i % 2 == 0:
        even_numbers.append(i)
print(even_numbers)

In [41]:
#List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
#Multiply each and every element by 2 and display the answer
List2 = [2, 70, 'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3, 10, 302.5]

result = []

for item in List2:
    if isinstance(item, (int, float, str, list, tuple)):
        result.append(item * 2)
    elif isinstance(item, set):
        result.append({x * 2 for x in item})
    elif isinstance(item, dict):
        result.append({k * 2: v * 2 if isinstance(v, (int, float, str)) else v
                       for k, v in item.items()})
    else:
        result.append(item)
print(result)

[4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3, 1, 2, 3], (1, 2, 1, 2), {2, 4}, {2: 'aa', 4: 'bb'}, 6, 20, 605.0]

In [42]:
#36.	List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
#Multiply each and every element from list2 by 2 and store the answer in list3
List2 = [2, 70, 'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3, 10, 302.5]

list3 = []

for item in List2:
    if isinstance(item, (int, float, str, list, tuple)):
        list3.append(item * 2)
    elif isinstance(item, set):
        list3.append({x * 2 for x in item})
    elif isinstance(item, dict):
        list3.append({k * 2: v * 2 for k, v in item.items()})
    else:
        list3.append(item)

print(list3)

[4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3, 1, 2, 3], (1, 2, 1, 2), {2, 4}, {2: 'aa', 4: 'bb'}, 6, 20, 605.0]

In [43]:
#Create a function to accept marks from user utilize exception concept to validate proper marks.
def get_marks():
    while True:
        try:
            marks = float(input("Enter marks (0-100): "))

            if marks < 0 or marks > 100:
                raise ValueError("Marks should be between 0 and 100.")

            return marks

        except ValueError as e:
            print("Invalid input:", e)
            print("Please enter valid marks.\n")
student_marks = get_marks()
print("Valid Marks Entered:", student_marks)

Enter marks (0-100): 90
Valid Marks Entered: 90.0

In [24]:
data = {
    "book": {
        "Hindi": {"1-4": 60, "5-8": 100, "9-10": 150},
        "Marathi": {"1-4": 60, "5-8": 100, "9-10": 150},
        "English": {"1-4": 80, "5-8": 100, "9-10": 150},
        "Science": {"1-4": 90, "5-8": 120, "9-10": 200},
        "Maths": {"1-4": 100, "5-8": 140, "9-10": 250}
    },
    "notebook": {
        "square": {"100": 40, "200": 70},
        "4 lines": {"100": 30, "200": 50},
        "2 lines": {"100": 30, "200": 50},
        "single lines": {"100": 60, "200": 100},
        "a4": {"100": 100, "200": 180}
    }
}
item_type = input("Enter book or notebook: ").lower()

if item_type == "book":
    subject = input("Enter subject (Hindi/Marathi/English/Science/Maths) : ").title()
    standard = int(input("Enter standard (1 to 10): "))

    if 1 <= standard <= 4:
        std_group = "1-4"
    elif 5 <= standard <= 8:
        std_group = "5-8"
    elif 9 <= standard <= 10:
        std_group = "9-10"
    else:
        print("Invalid standard")
        exit()
    price = data["book"][subject][std_group]
    print(f"Price for {subject} book (Std {standard}) = ₹{price}")

elif item_type == "notebook":
    nb_type = input("Enter notebook type (Square/4 lines/2 lines/single line/A4 notebook) : ").lower()
    pages = input("Enter pages (100 or 200): ")

    price = data["notebook"][nb_type][pages]
    print(f"Price for {nb_type} notebook ({pages} pages) = ₹{price}")

else:
    print("Invalid choice")

KeyboardInterrupt: Interrupted by user

In [ ]:
data = {
    "book": {
        "Hindi": {"1-4": 60, "5-8": 100, "9-10": 150},
        "Marathi": {"1-4": 60, "5-8": 100, "9-10": 150},
        "English": {"1-4": 80, "5-8": 100, "9-10": 150},
        "Science": {"1-4": 90, "5-8": 120, "9-10": 200},
        "Maths": {"1-4": 100, "5-8": 140, "9-10": 250}
    },
    "notebook": {
        "square": {"100": 40, "200": 70},
        "4 lines": {"100": 30, "200": 50},
        "2 lines": {"100": 30, "200": 50},
        "single lines": {"100": 60, "200": 100},
        "a4": {"100": 100, "200": 180}
    }
}
cart = {}      # stores what user buys
total_bill = 0
while True:
    choice = input("\nEnter book / notebook (or 'stop'): ").lower()

    if choice == "stop":
        break

    if choice == "book":
        subject = input("Enter subject(Hindi/Marathi/English/Science/Maths) : ").title()
        standard = int(input("Enter standard (1–10): "))

        if 1 <= standard <= 4:
            grp = "1-4"
        elif 5 <= standard <= 8:
            grp = "5-8"
        elif 9 <= standard <= 10:
            grp = "9-10"
        else:
            print("Invalid standard")
            continue

        price = data["book"][subject][grp]

        item_name = f"{subject} Book (Std {standard})"
        cart[item_name] = price
        total_bill += price

        print(f"Added: {item_name} – ₹{price}")


    elif choice == "notebook":
        nb_type = input("Enter notebook type (square/4 lines/2 lines/single line/a4 ): ")
        pages = input("Enter pages (100/200): ")

        price = data["notebook"][nb_type][pages]

        item_name = f"{nb_type} Notebook ({pages} pages)"
        cart[item_name] = price
        total_bill += price

        print(f"Added: {item_name} – ₹{price}")

    else:
        print("Invalid choice")


print("\n========== FINAL BILL ==========")

for item, price in cart.items():
    print(f"{item:<25} ₹{price}")

print("--------------------------------")
print(f"Total Amount Payable: ₹{total_bill}")
print("================================")

In [ ]:
# ask user enter marks and make grps like distinction, first class, second class, pass and fail
# above 80 = distinction
# above 70 = first class
# above 50 = second class
# above 35 = pass
# else fail
#convert to the function

def Grades(percentage):

  if (not percentage.isalnum() and not percentage.isalpha()) or percentage.isdigit():
    percentage = int(percentage)
    if percentage > 100 or percentage < 0:
      output = "enter proper marks"
    elif percentage > 80:
      output = "distinction"
    elif percentage > 70 and percentage <= 80:
      output = "First class"
    elif percentage > 50 and percentage <= 70:
      output = "Second class"
    elif percentage > 35 and percentage <= 50:
      output = "pass"
    else:
      output = "fail"
  else:
      output = "not proper format"
  return output

In [ ]:
percentage = input(" enter percentage : ")
Grades(percentage)

In [ ]:
def Salary_increment(salary, rating):
  increment = 0
  if rating == 'A' or rating == 'B' or rating == 'C' or rating == 'D':
    if salary <= 5_00_000:
        if rating == 'A':
            increment = 0.16
        elif rating == 'B':
            increment = 0.12
        elif rating == 'C':
            increment = 0.10
        elif rating == 'D':
            increment = 0.06

    elif salary <= 10_00_000:
        if rating == 'A':
            increment = 0.14
        elif rating == 'B':
            increment = 0.10
        elif rating == 'C':
            increment = 0.08
        elif rating == 'D':
            increment = 0.06

    elif salary <= 15_00_000:
        if rating == 'A':
            increment = 0.08
        elif rating == 'B':
            increment = 0.06
        elif rating == 'C':
            increment = 0.04
        elif rating == 'D':
            increment = 0

    elif salary <= 23_00_000:
        if rating == 'A':
            increment = 0.07
        elif rating == 'B':
            increment = 0.05
        elif rating == 'C':
            increment = 0.04
        elif rating == 'D':
            increment = 0

    else:
        return "No increment policy for this salary range."

    increment_amount = salary * increment
    new_salary = salary + increment_amount

    #print("Increment Amount:", increment_amount)
    return "New Salary:", new_salary
  else:
    return "Enter proper rating"

In [ ]:
salary = int(input("Enter annual salary (in INR): "))
rating = input("Enter rating (A/B/C/D): ").upper()

Salary_increment(salary, rating)

In [ ]:
#Create a function to validate user first name/last name. User first name/last name should contain only characters.
#No special characters, numbers, space in name

def Name_Validation(first_name,last_name ):

  if first_name.isalpha() and last_name.isalpha():
    return("validation successful")
  else:
    return("validation unsuccessful")

In [ ]:
first_name = input("enter first_name : ")
last_name = input("enter last_name : ")
Name_Validation(first_name,last_name )

In [ ]:
#Create a function to accept mobile number. Mobile number should contain 10 digits.
#No Special character, alphabets and space.

def Mobile_number(Mob_no):
  if Mob_no == 0:
    return ("Mobile no cannot start with 0")
    if Mob_no.isdigit():
      if len(Mob_no) == 10:
        return("Accept")
      else :
        return("enter 10 digits no")
    else:
      return("Enter digits only")

In [ ]:
Mob_no = input("Enter mob_no : ")
Mobile_number(Mob_no)

In [ ]:
#chatgpt
def mobile_number(mob_no):
    if not mob_no.isdigit():
        return "Enter digits only"

    if len(mob_no) != 10:
        return "Enter 10 digit mobile number"

    if mob_no[0] == '0':
        return "Mobile no cannot start with 0"

    return "Accept"

In [ ]:
mob_no = input("Enter mobile number: ")
print(mobile_number(mob_no))

In [ ]:
#45. Dict1= {“Key”: {“subkey”:20} , “k2”:{“sub2” : 5}, “k3” : {“sub4” :16}, “k4” : {“sub4” : 6}}
#Sort elements based on values
#Output must be {“k2”:{“sub2” : 5}, “k4” : {“sub4” : 6}, “k3” : {“sub4” : 16}, “Key”:{“subkey”:20}}

Dict1= {"Key": {"subkey":20} , "k2":{"sub2" : 5}, "k3" : {"sub4" :16}, "k4" : {"sub4" : 6}}
sorted_dict1 = sorted(Dict1, key =lambda x : x["key"]["subkey"])

#desc_sorted_list = sorted(my_list, key = lambda x : x['key']['subkey'], reverse = True)     #descending sort
#desc_sorted_list

In [ ]:
#Create a function to check if string is palindrome or not ?
#For example, if input is NITIN then reverse of the string is same then it is palindrome.
#If input is ANIL then reverse is LINA which is not same then it is not palindrome.

def Palindrome(string):
  if type(string) == 'str':
    if string == string[::-1]:
      return ("palindrome")
    else:
      return ("not a palindrome")
  else:
    return("enter proper string")

In [ ]:
string = input("enter your string : ").lower()
Palindrome(string)

In [ ]:
#Create a function to generate a Fibonacci Series. 0 1 1 2 3 5 8 13 21 34 ….. upto 100
def fibonacci(n):
    a, b = 0, 1
    for i in range(n):
        print(a, end=" ")
        a, b=b , a + b

In [ ]:
fibonacci(100)

In [ ]:
def factorial(n):
    fact = 1
    for i in range(1, n + 1):
        fact *= i
    return fact

num = int(input("Enter a number: "))
factorial(num)

In [ ]:
factorial(5)

In [ ]:
#exception handling
#Write a code to generate factorial of the number For example: factorial of 5 = 5! = 5*4*3*2*1

def factorial(num):
    if num in (0,1):
        return 1
    else:
        return num*factorial(num-1)
while True:
  try:
    num = int(input("Enter a number: "))
    if num < 0:
      print("Factorial cannot take negative numbers")
    else:
      print(f"Factorial {num} : ",factorial(num))
      break
  except ValueError:
      print("Enter valid number")
  #break
#print("Successful")

In [44]:
#Create a empty dictionary and ask user to enter values as name, DOB, mobile number add all the details in dictionary with customer number as 1 for first time.
#If user try to enter another value, then number should increase as 2 with new details and previous values should not change.
#For example:
#{}
#{1:{name : "Sachin", "DOB": "21-06-1965" , "mobile": "1234123423"}}
#{1:{name : "Sachine", "DOB": "21-06-1965" , "mobile": "1234123423"},
#2: {name : "Sumedh", "DOB": "02-02-2002" , "mobile": "1234123433"}}
customers = {}

while True:
    name = input("Enter Name: ")
    dob = input("Enter DOB (dd-mm-yyyy): ")
    mobile = input("Enter Mobile Number: ")

    customer_no = len(customers) + 1

    customers[customer_no] = {
        "name": name,
        "DOB": dob,
        "mobile": mobile
    }

    print("\nCurrent Records:")
    print(customers)

    choice = input("\nAdd another customer? (y/n): ")
    if choice.lower() != 'y':
        break

Enter Name: sumedh
Enter DOB (dd-mm-yyyy): 02-02-2002
Enter Mobile Number: 1234123423

Current Records:
{1: {'name': 'sumedh', 'DOB': '02-02-2002', 'mobile': '1234123423'}}

Add another customer? (y/n): n

In [49]:
#Create a function to calculate age till now.
from datetime import datetime

def calculate_age():

    dob = input("Enter DOB (dd-mm-yyyy): ")

    birth_date = datetime.strptime(dob, "%d-%m-%Y")
    today = datetime.today()

    age = today.year - birth_date.year

    if (today.month, today.day) < (birth_date.month, birth_date.day):
        age = age - 1

    print("Your Age is:", age)

calculate_age()

Enter DOB (dd-mm-yyyy): 26-12-2000
Your Age is: 25

In [50]:
#Create a function to check age eligibility for given customer based on DOB. Function will take two input DOB and ELIGIBILITY age.
from datetime import datetime

def check_eligibility(dob, eligibility_age):

    birth_date = datetime.strptime(dob, "%d-%m-%Y")
    today = datetime.today()

    age = today.year - birth_date.year

    if (today.month, today.day) < (birth_date.month, birth_date.day):
        age = age - 1

    if age >= eligibility_age:
        print("Eligible")
    else:
        print("Not Eligible")

dob = input("Enter DOB (dd-mm-yyyy): ")
eligibility_age = int(input("Enter Eligibility Age: "))

check_eligibility(dob, eligibility_age)

Enter DOB (dd-mm-yyyy): 26-12-2000
Enter Eligibility Age: 21
Eligible

In [1]:
#Write a program to find largest number in the list.
numbers = [10, 45, 23, 89, 12]

largest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num

print("Largest number is:", largest)

Largest number is: 89

In [2]:
#Write a program to check frequency of each element in the list.
numbers = [1, 2, 2, 3, 4, 3, 2, 5, 1]
frequency = {}
for num in numbers:
    if num in frequency:
        frequency[num] += 1
    else:
        frequency[num] = 1
print(frequency)

{1: 2, 2: 3, 3: 2, 4: 1, 5: 1}

In [4]:
#There are two string l1 =[ 1,2,3,4,5] and l2 =[3,2,8,7,9] then write a program to find common elements in the list.
l1 = [1, 2, 3, 4, 5]
l2 = [3, 2, 8, 7, 9]
common = []
for num in l1:
    if num in l2:
        common.append(num)
print("Common elements:", common)

Common elements: [2, 3]